div {
    display: flex;
    flex-flow: column nowrap;
  }
  
  #display {
    height: 10vh;
    width: 15%;
    border: 2px solid black;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .row {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #numbers {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 3;
  }
  
  #operations {
    display: flex;
    flex-flow: column;
    
  }
  
  #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #add, #subtract, #divide, #multiply, #equals, #decimal, #clear {
    border: .5px solid black;
    width: 50px;
    height: auto;
    padding: 2.5%;
    margin: 5%;
    text-align: center;
  }